// Typography
$font-stack-open-sans: 'Open Sans', sans-serif;
$font-stack-georgia: Georgia, Times, 'Times New Roman', serif;
$base-font-family: $font-stack-open-sans, !default;
$heading-font-family: $base-font-family;

// Font Sizes
$base-mobile-font-size: 1em;
$base-font-size: 1.125em;

// Line height
$base-mobile-line-height: 1.6875;
$base-line-height: 1.5;
$heading-line-height: 1.35;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$folwell-palette: (
  white:        #fff,
  very-light:   #eee,
  light-bg:     #ddd,
  gold:         #fc3,
  gold-light:   #ffde7a,
  gold-header:  #ffd75f,
  gray-light:   #d5d6d2,
  gray-lighter: #f0efee,
  off-white:    #f9f7f6,
  sf-shadow:    #8a8a8a,
);

$folwell-dark-palette: (
  black:        #000,
  blue:         #00f,
  stormy:       #404d5b,
  maroon:       #7a0019,
  maroon-light: #900021,
  maroon-dark:  #4d0010,
  gray-darker:  #333,
  gray-dark:    #5a5a5a,
  gray-medium:  #777677,
);

$layout-builder-blue: #85bef4;

$link-hover: transparentize(map-get($folwell-dark-palette, gray-darker), 0.85);
.jim-look-here {
  color: $link-hover;
}

// Font Colors
$base-font-color: map-get($folwell-dark-palette, gray-darker);
$action-color: map-get($folwell-dark-palette, maroon-light);

// Border
$base-border-color: map-get($folwell-palette, gray-light);
$accent-border: 4px solid map-get($folwell-palette, gold);
@mixin standard-border($border-color: map-get($folwell-palette, gray-light), $placement: bottom) {
  @if ($placement == 'all') {
    border: 1px solid $border-color;
  }
  @else {
    border-#{$placement}: 1px solid $border-color;
  }
}

// Background Colors
$base-background-color: map-get($folwell-palette, white);
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px transparentize(map-get($folwell-dark-palette, black), .94);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 400ms;
$base-timing: ease-in-out;

$max-width: 1200px;
%page-width {
  width: 100%;
  @include margin(null auto);
  // margin-left: auto;
  // margin-right: auto;
}

%page-width-fixed {
  @extend %page-width;
  max-width: $max-width;
}

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
%element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
%element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
%element-focusable {
  @extend %element-invisible;

  &:active,
  &:focus {
    @extend %element-invisible-off;
  }
}

@mixin font-awesome($font-size: inherit) {
  font-family: 'Font Awesome 5 Free';
  font-size: $font-size;
  font-weight: 900;
}