//Blockquote: Folwell Theme Component
blockquote {
  background: map-get($folwell-palette, off-white);
  border-color: map-get($folwell-palette, gold);
  border-style: solid;
  border-width: 0 0 0 6px;
  color: map-get($folwell-dark-palette, gray-darker);
  line-height: 28px;
  margin: 0 0 24px;
  padding: 15px 26px;

  p {
    margin-bottom: 0;

    & + p {
      margin-top: 1.333em;
    }
  }
}
