.breadcrumb {
  display: block;
  ol {
    background: none;
    display: block;
    margin: 0;
    padding: .5em .5em .5em 1.1em;
    position: relative;
    //margin-left: 1.1em;
    //top: -15px;
  }
  ol li:before {
    padding-left: 0;
  }
  li:after {
    @include font-awesome(.6em);
    color: map-get($folwell-dark-palette, gray-medium);
    content: "\f054";
    font-style: normal;
    margin-left: 5px;
  }
  li:last-child:after {
    content: none;
    padding-left: 0;
  }
  li:last-child {
    font-size: 0.778em;
    font-weight: 400;
    color: map-get($folwell-dark-palette, gray-medium);
  }
  li {
    display: inline-block;
    padding-left: 0;
    font-size: 0.778em;
  }
  a {
    color: map-get($folwell-dark-palette, gray-medium);
    text-decoration: none;
    transition: color 500ms ease-in-out;
    border-bottom: 1px solid map-get($folwell-dark-palette, gray-medium);
    font-weight: 400;
  }
  a:hover {
    border-bottom: 1px solid map-get($folwell-dark-palette, gray-medium);
    background-color: #eaecef;
  }
  a:focus {
    border-bottom: 1px solid map-get($folwell-dark-palette, gray-medium);
    background-color: #ffd75f;
  }
}

