/* @file
 * Preserve Drupal defaults that are losing out
 * in specificity to Folwell theme components
 */

// General link styles conflicting with toolbar links.
#toolbar-administration a {
  border: none;
}

#toolbar-item-administration-tray {
  &.toolbar-tray a {
    color: #565656;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus,
    &.is-active {
      color: #000;
      text-decoration: underline;
    }
  }
}

.tabs {
  .btn {
    padding: 0;

    a {
      @extend .btn-small;
      background-color: transparent;
      border: none;
      display: block;
      color: inherit;
      width: 100%;
      height: 100%;

      &.is-active,
      &:focus,
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.simplesamlphp-auth-login-link {
  @extend .btn;
  @extend .btn-full;
  @extend .bg-maroon;
}

.views_row {
  @include clearfix;
}

// Fix paragraphs buttons in layout builder modal
#layout-builder-modal {
  .dropbutton-action input {
    margin: 0;
    width: 100%;
    text-align: left;
  }
}

[class*='radix-layouts'] > .layout-builder__region {
  margin-top: 2px;
}

#drupal-off-canvas {
  summary,
  details,
  a {
    font-family: $font-stack-open-sans;
  }

  .inline-block-create-button {
    color: $layout-builder-blue;
  }
}
