// GCSE Search box
#mandatory-header-wrapper {
  .gsc-control-searchbox-only {
    display: none;

    @include breakpoint(610px) {
      display: block;
      width: 250px;
      float: right;
      top: 21px;
      margin-right: 10px;
    }

    @include breakpoint(775px) {
      top: 33px;
      margin-right: 15px;
    }

    form,
    table {
      margin: 0;
      padding: 0;
      border: none;
    }

    table,
    tbody,
    tr,
    td {
      background-color: transparent;
      //padding: 0;
      border: none;

      &:hover {
        background-color: transparent;
      }

      input {
        box-shadow: none;
        border-radius: 0;
      }
    }
  }

  .mobile .gsc-control-searchbox-only {
    display: block;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .gsc-input {
    padding-right: 0;
  }

  .gsc-input-box {
    border: none;
    margin-right: 10px;

    input:focus {
      border: none;
      box-shadow: none;
    }
  }

  .gsib_a {
    padding: 3px 6px 1px;
  }

  .gsib_b {
    overflow: hidden;
  }

  .gsst_a {
    display: inline;

    span {
      vertical-align: middle;
    }
  }

  .gsc-search-button {
    vertical-align: top;

    button {
      margin: 1px 0 0;
      padding: 0;
      border: none;
      background-color: transparent;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}


.gssb_c .gsc-completion-container {
  max-width: 249px;

  .gssb_a td {
    white-space: normal;
    padding-left: 10px;
    text-indent: -10px;
  }
}

