// GCSE Search box
.gsc-control-searchbox-only {
  width: 250px;
  float: right;
  top: 35px;
  margin-right: 30px;

  form,
  table {
    margin: 0;
    padding: 0;
    border: none;
  }

  table,
  tbody,
  tr,
  td {
    background-color: transparent;
    //padding: 0;
    border: none;

    &:hover {
      background-color: transparent;
    }

    input {
      box-shadow: none;
      border-radius: 0;
    }
  }

  .gsc-input-box {
    border: none;
    margin-right: 10px;

    input:focus {
      border: none;
      box-shadow: none;
    }
  }

  .gsib_a {
    padding: 3px 6px 1px;
  }

  .gsib_b {
    overflow: hidden;
  }

  .gsst_a {
    display: inline;

    span {
      vertical-align: middle;
    }
  }

  .gsc-search-button {
    button {
      margin: 0;
      padding: 0;
      border: none;
      background-color: transparent;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.gssb_c .gsc-completion-container {
  max-width: 249px;

  .gssb_a td {
    white-space: normal;
    padding-left: 10px;
    text-indent: -10px;
  }
}

