// Media: Folwell Theme Component
figure {
  margin: 0;

  &.caption {
    display: block;

    figcaption {
      display: block;
    }
  }

  article {
    margin: 0;

    img {
      display: block;
    }
  }
}

img,
picture {
  margin: 0;
  max-width: 100%;
  height: auto;
}

figcaption,
.txt-caption,
cite {
  @extend %caption-type;
  margin: 1.2em 1.2em 1.7em 0;

  p {
    margin-bottom: 1.7em;
  }

  .photo-credit {
    margin-top: 0;
    font-style: normal;
    font-size: .823529426em;
  }
}

caption {
  @extend %caption-type;
  margin: 0 1.2em 1em 0;
  text-align: left;
}

.photo-credit {
  display: block;
  margin: .6em 0 1em;
  @extend %small-caps;
  @extend %caption-color;

  & + ul,
  & + ol {
    margin-top: 1em;
  }
}

.img-circle {
  width: 17.45%;
  float: left;
  clear: left;
  margin-right: 1em;

  img {
    border-radius: 50%;
    height: auto;
  }
}

[class*="display-"] {
  img {
    width: auto;

    @include breakpoint($medium-screen) {
      width: 100%;
    }
  }
}

.align-left.display-50,
.align-right.display-50 {
  clear: both;
}

@include breakpoint(max-width $medium-screen) {
  .img-circle {
    width:auto !important;
    margin: 0 !important;
    float: none;
  }

  .img-circle img {
    margin: auto;
  }
}

#hero-video {
  width: 100%;
}

.hero-video-container {
    position: relative;
}
