//Site name: Folwell Theme Component
.site-identity {
  background: map-get($folwell-palette, white);
  //line-height: 100%;
  margin: 0 auto;
  padding: 1em;
  z-index: 500;

  .fixed-width & {
    max-width: 1200px;
  }

  h1 {
    font-size: 1.625em;
    line-height: 1.152692308;

    @include breakpoint($large-screen) {
      font-size: 1.444444444em;
      line-height: 1.142307722;
    }
  }

  .sitename {
    font-size: 1.625em;
    line-height: 1.152692308;
    font-weight: 600;

    @include breakpoint($large-screen) {
      font-size: 1.444444444em;
      line-height: 1.142307722;
    }

    //line-height: 0;

    @include breakpoint($small-screen) {
      //line-height: 1.85625;
      margin: 0 0 2px 0;
    }

    @include breakpoint($large-screen) {
      //line-height: 1.65;
    }

    a {
      color: map-get($folwell-dark-palette, maroon);
      border: none;
      //font-size: $base-font-size !important;
      //line-height: $heading-line-height !important;
      //font-weight: 600;
  
      &:link {
        color: map-get($folwell-dark-palette, maroon);
      }
  
      &:hover {
        background: transparent;
      }
  
      @include breakpoint($small-screen) {
        //font-size: 1.625em;
      }
  
      @include breakpoint($large-screen) {
        //font-size: 1.444444444em;
      }
    }
  }

  .prefix-name,
  .prefix-name a,
  .subhead {
    color: map-get($folwell-dark-palette, gray-medium);
    border: none;
    transition: none;

    @include breakpoint($medium-screen) {
      //font-size: $base-mobile-font-size;
      //line-height: $heading-line-height;
  
      .two-lines {
        color: map-get($folwell-dark-palette, maroon);
      }
    }
  }

  .prefix-name a:hover {
    @include standard-border(map-get($folwell-dark-palette, gray-darker));
    background: map-get($folwell-palette, gray-lighter);
  }
}

p.subhead,
p.prefix-name {
  font-size: 1em;
  line-height: $heading-line-height;
  margin: 0 0 2px 0;

  @include breakpoint($medium-screen) {
    font-size: .888888889em;
  }
}
