$campuses: (
  (
    class: umnhf-campus-tc,
    width: 288px
  ),
  (
    class: umnhf-campus-d,
    width: 361px
  ),
  (
    class: umnhf-campus-m,
    width: 356px
  ),
  (
    class: umnhf-campus-c,
    width: 391px
  ),
  (
    class: umnhf-campus-r,
    width: 389px
  ),
  (
    class: umnhf-campus-e,
    width: 386px
  )
);
$dtd-opts: (
  dtd: (
    height: 29px,
    background-position: 0 -38px,
    width: 246px
  ),
  no-dtd: (
    height: 30px,
    background-position: 0 -37px,
    width: 250px
  )
);
$colors: (
  gold: (
    value: map-get($folwell-palette, gold),
    class: umnhf-background-gold,
    text-color: map-get($folwell-dark-palette, stormy)
  ),
  maroon: (
    value: map-get($folwell-dark-palette, maroon),
    class: umnhf-background-maroon,
    text-color: map-get($folwell-palette, white)
  )
);

@mixin header-sprite($colors, $bgpos) {
  @each $color, $cdetail in $colors {
    .#{map-get($cdetail, class)} & {
      background: transparent
        url("../images/branding/sprites/lock-search-#{$color}.png")
        $bgpos
        no-repeat;
      @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
        (min-resolution: 192dpi) {
        background: transparent
          url("../images/branding/sprites/lock-search-#{$color}@2x.png") $bgpos
          no-repeat;
        background-position: $bgpos;
        background-size: 22px 34px;
      }
    }
  }
}
//$dtd-height: (dtd: )

#umnhf-h.umnhf,
#umnhf-uf.umnhf,
#umnhf-f.umnhf {
  @extend %page-width;
  font-size: 0.875em;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;

  @include breakpoint($large-screen) {
    font-size: 0.777777778em;
  }

  .fixed-width & {
    @extend %page-width-fixed;
  }

  a {
    text-decoration: none;
    border-bottom: none;
    color: map-get($folwell-dark-palette, stormy);

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}

#mandatory-header-wrapper {
  min-height: 55px;

  @include breakpoint(610px) {
    min-height: 64px;
  }

  div {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
  }

  #umnhf-h-mast {
    position: relative;
  }

  #umnhf-h-wm {
    display: block;
    float: left;
    overflow: hidden;
    height: 38px;
    margin: 13px 10px;
    white-space: nowrap;
    text-indent: 100%;
    background-size: 288px 67px;
  }

  &.links #umnhf-h-wm {
    margin-bottom: 7px;
  }

  @each $color, $cdetail in $colors {
    &.#{map-get($cdetail, class)} {
      background-color: map-get($cdetail, value);
      a {
        color: map-get($cdetail, text-color);
      }
    }

    @each $campus in $campuses {
      @each $dtd, $ddetail in $dtd-opts {
        &.#{map-get($campus, class)}.#{$dtd}.#{map-get($cdetail, class)}
          #umnhf-h-wm {
          width: map-get($campus, width);
          @if $dtd == "dtd" {
            @if (map-get($campus, class) == "umnhf-campus-e") or
              (map-get($campus, class) == "umnhf-campus-m")
            {
              height: 36px;
            }
          }
          background: transparent
            url("../images/branding/wordmarks/#{map-get($campus, class)}-#{$dtd}-#{$color}.png")
            0
            0
            no-repeat;
          @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
            (min-resolution: 192dpi) {
            background: transparent
              url("../images/branding/wordmarks/#{map-get($campus, class)}-#{$dtd}-#{$color}@2x.png")
              0 0 no-repeat;
            @if $dtd == "no-dtd" {
              background-size: 288px auto;
              @if (map-get($campus, class) == "umnhf-campus-tc") {
                height: 34px;
              }
            } @else {
              background-size: map-get($campus, width) auto;
              @if (map-get($campus, class) == "umnhf-campus-e") or
                (map-get($campus, class) == "umnhf-campus-m")
              {
                height: 34px;
              } @else {
                height: 38px;
              }
            }
          }
          @media screen and (max-width: 609px) {
            background-position: 0 -38px;
            height: 30px;
            @if (map-get($campus, class) == "umnhf-campus-c") {
              @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
                (min-resolution: 192dpi) {
                background-position: 0 -39px;
              }
            }
          }
        }
      }
    }
  }
  @media all and (max-width: 609px) {
    @each $dtd, $ddetail in $dtd-opts {
      &.#{$dtd} .umnhf-h-logo {
        @each $prop, $val in $ddetail {
          #{$prop}: #{$val};
        }
      }
    }
  }
}

#umnhf-h-cl {
  position: relative;
  clear: both;
  margin: 0 10px;
  padding: 0 0 10px;
  list-style-type: none;
  text-align: center;

  li {
    display: inline-block;
    padding: 0 0.5em;
    text-align: center;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  @each $campus in $campuses {
    .#{map-get($campus, class)} & {
      width: map-get($campus, width);

      .#{map-get($campus, class)} {
        font-weight: bold;
      }
    }
  }

  @media screen and (max-width: 609px) {
    display: none;
  }
}

#umnhf-h-ql {
  list-style-type: none;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 8px;
  width: auto;

  .links & {
    top: 12px;
  }

  li {
    display: inline-block;
    margin: 0 0 0 1.25em;
    padding: 0;
  }

  #umnhf-h-myu span {
    @include header-sprite($colors, 0 0);
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 1px;
  }

  @media screen and (max-width: 775px) {
    display: none;
  }
}

#umnhf-m-search {
  display: none;

  @media screen and (max-width: 609px) {
    .dropdown & {
      border-radius: 4px;
      border: 0;
      cursor: pointer;
      display: block;
      font: bold 0.925em/1.35em arial, helvetica, clean, sans-serif;
      height: auto;
      padding: 5px 6px 4px;
      position: absolute;
      right: 17px;
      text-align: left;
      top: 15px;
      white-space: nowrap;
      width: auto;
      z-index: 999;
    }

    .umnhf-background-gold.dropdown & {
      background-color: map-get($folwell-dark-palette, maroon);
      color: map-get($folwell-palette, gold);
    }

    .umnhf-background-maroon.dropdown & {
      background-color: map-get($folwell-palette, gold);
      color: map-get($folwell-dark-palette, maroon);
    }

    //.dropdown &.mobile {
    //  display: none;
    //}
  }
}

// Morris-specific changes
@media screen and (max-width: 775px) {
  @each $color, $cdetail in $colors {
    #mandatory-header-wrapper.umnhf-campus-m.#{map-get($cdetail, class)}
      #umnhf-h-wm {
      background-image: url("../images/branding/wordmarks/umnhf-campus-m-no-dtd-#{$color}.png") !important;
      height: 37px !important;
    }
  }
  .umnhf-campus-m {
    #umnhf-h-cl {
      display: none;
    }
    #umnhf-h-search {
      top: 22px;
    }
  }
}

.campus-footer {
  .social-media-footer-links {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 0 5px;
      background: url("../images/branding/sprites/social.png") no-repeat;
      background-size: 160px 16px;
      @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
        (min-resolution: 192dpi) {
        background-size: auto 16px;
      }
      &:first-child {
        margin-left: 0;
      }
      &.facebook {
        background-position: 0 0;
      }
      &.twitter {
        background-position: -16px 0;
      }
      &.google-plus {
        background-position: -32px 0;
      }
      &.linkedin {
        background-position: -48px 0;
      }
      &.youtube {
        background-position: -64px 0;
      }
      &.instagram {
        background-position: -80px 0;
      }
      &.flickr {
        background-position: -97px 0;
      }
      &.pinterest {
        background-position: -111px 0;
      }
      &.tumblr {
        background-position: -128px 0;
      }
      &.rss {
        background-position: -144px 0;
      }
    }
    a {
      display: inline-block;
      width: 16px;
      height: 16px;
      transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;

      opacity: 1;
      &:hover,
      &:focus {
        border-color: transparent;
        background-color: $link-hover;

        opacity: 0.75;
      }
    }
  }
}

// Unit Footer
#umnhf-uf.umnhf {
  border-top: 1px solid map-get($folwell-palette, gray-light);
  overflow: hidden;
  position: relative;

  p {
    margin: 0;
  }

  p,
  li,
  h3 {
    color: map-get($folwell-dark-palette, stormy);
  }

  h2 {
    &.umnhf-f-title {
      margin: 0 0 15px;
      padding: 16px 8px 16px 54px;
      text-transform: uppercase;
      color: map-get($folwell-dark-palette, stormy);
      border-bottom: 1px solid rgba(52, 73, 94, 0.4);
      font-family: Helvetica, "Helvetica Neue", "Futura", Verdana, "Geneva",
        sans-serif;
      font-size: 16px;
      font-weight: normal;
    }
  }

  h3,
  p {
    &.umnhf-f-title {
      margin: 0;
      text-transform: uppercase;
      color: map-get($folwell-dark-palette, stormy);
      font-family: Helvetica, "Helvetica Neue", "Futura", Verdana, "Geneva",
        sans-serif;
      font-size: 14px;
      font-weight: bold;
    }
  }

  #umnhf-uf-ci,
  #umnhf-uf-sm {
    float: left;
    clear: both;
    width: 40%;
    padding: 0;
    font-style: normal;
    @media screen and (max-width: 750px) {
      width: 50%;
    }
  }

  #umnhf-uf-ci {
    margin-top: 10px;
    p {
      line-height: 1.5em;
    }
    abbr {
      border-bottom: 0;
    }
  }

  #umnhf-uf-sm {
    // width: 40%;
    margin: 10px 0;
    @extend .campus-footer;
  }

  #umnhf-uf-ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    // padding-right: 54px;
    ul {
      float: right;
      margin: 0;
      padding: 30px 0 5px 0;
      list-style-type: none;
      text-align: right;
      li {
        line-height: 1.5em;
      }
    }
    @media screen and (max-width: 609px) {
      position: relative;
      ul {
        float: none;
        text-align: inherit;
        padding-top: 0;
        li {
          line-height: 3em;
        }
      }
    }
  }

  @media screen and (max-width: 609px) {
    #umnhf-uf-ci,
    #umnhf-uf-sm,
    #umnhf-uf-ul {
      display: block;
      float: none;
      width: 100%;
    }
  }
}

// Footer
#umnhf-f.umnhf {
  border-top: 1px solid map-get($folwell-palette, gray-lighter);
  font-size: 14px;
  margin: 0 auto 5px;
  padding: 15px 0 0;

  #umnhf-f-myu {
    display: none;
  }

  small {
    display: block;
    padding: 5px 54px;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.15em;
  }

  @media screen and (max-width: 775px) {
    #umnhf-f-myu {
      display: block;
      ul {
        margin: 0 0 16px;
        padding: 0;
        list-style: none;
        line-height: 3em;
        span {
          display: inline-block;
          width: 12px;
          height: 12px;
          background: transparent
            url("../images/branding/sprites/lock-search-gold.png") 0 0 no-repeat;
          @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
            (min-resolution: 192dpi) {
            background: transparent
              url("../images/branding/sprites/lock-search-gold@2x.png") 0 0
              no-repeat;
            background-size: 22px 34px;
          }
        }
      }
    }

    small {
      padding: 5px 17px;
    }
  }
}
