main nav,
.folwell-vertical-nav {
  padding: 1em;
  background-color: map-get($folwell-palette, off-white);
  ul {
    list-style: none;
    margin: 0;
    padding-left: 1.5em;
    max-width: 100%;
    background: map-get($folwell-palette, off_white);
    > li {
      padding: 0;
    }
    a,
    span {
      font-size: .833em;
      color: $base-font-color;
      display: block;
      border-bottom: none;
      padding: .5em;
      position: relative;
    }
    a,
    .expand-slug {
      &:hover {
        color: map-get($folwell-dark-palette, maroon);
        background-color: map-get($folwell-palette, gray-lighter);
      }
      &:focus {
        background: transparent;
      }
    }
    a.is-active {
      background: map-get($folwell-palette, gray-light);
      color: $base-font-color;
      font-weight: 700;
    }
  }
  &.no-label ul {
    margin-left: 0;
  }
  .menu-item--expanded,
  .menu-item--collapsed {
    list-style-type: none;
    list-style-image: none;
  }

  .vertical-nav-js {
    .menu-item--expanded > ul,
    .menu-item--expanded.menu-closed > ul {
      display: none;
    }
    //.menu-item--expanded.menu-opened > ul {
    //  display: block;
    //}
  }

  .menu-label {
    span, a {
      font-size: .833em;
      display: block;
      border-bottom: none;
      padding: .5em;
      position: relative;

    }
    a {
      color: map-get($folwell-dark-palette, maroon);
      font-weight: 600;
      &:before {
        @include font-awesome($font-weight: 600);
        content: "\f053";
        margin-right: .5em;
      }
    }
  }

  .menu-item--expanded {
    display: flex;
    flex-wrap: wrap;
    > a, > span {
      margin-right: auto;
      flex-grow: 1;
    }
    .expand-slug {
      padding: 0 12px;
      margin: 0;
      background-color: transparent;
      &:after {
        @include font-awesome($font-weight: 600);
        content: "\f107";
        line-height: 1;
        text-indent: 0;
      }
    }
    .is-active ~ button {
      background: map-get($folwell-palette, gray-light);
      color: $base-font-color;
    }
    ul {width: 100%;}
  }
  .menu-item--active-trail {
    .expand-slug:hover {
      background-color: darken(map-get($folwell-palette, gray-light), 10%);
      color: map-get($folwell-dark-palette, maroon);
    }
  }
}
