.btn,
.button,
#{$all-buttons} {
  appearance: none;
  @include standard-border(transparent, all);
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  line-height: 1.25em;
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 1em;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &.bg-maroon {
    color: map-get($folwell-palette, white);
    @include standard-border(map-get($folwell-dark-palette, maroon-light), bottom);

    &:hover {
      background-color: map-get($folwell-dark-palette, maroon-light) !important;
      color: map-get($folwell-palette, white);
    }
  }

  &.btn-give {
    color: map-get($folwell-palette, white) !important;
    background-color: map-get($folwell-dark-palette, maroon-light);
    border-bottom-color: map-get($folwell-dark-palette, maroon-light);
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      @include standard-border(map-get($folwell-palette, gold), all);
    }

    &:hover {
      background-color: map-get($folwell-dark-palette, maroon) !important;
      color: map-get($folwell-palette, white);
    }
  }

  &.bg-maroon,
  &.btn-give {
    &:focus {
      background-color: map-get($folwell-dark-palette, maroon);
      color: map-get($folwell-palette, gold);
    }

    &:active {
      background-color: map-get($folwell-dark-palette, maroon-dark);
      color: map-get($folwell-palette, gold);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: map-get($folwell-dark-palette, maroon-dark);
  }

  &:visited {
    color: map-get($folwell-palette, white);
  }

  &.btn-outline:visited {
    color: map-get($folwell-dark-palette, gray-dark)
  }
}

p > .btn {
  margin-bottom: 0;
}
p > .btn-give {
  margin-bottom: 1em;
}

.btn-small {
  padding: 0.56em 1.39em;
}

.btn-outline,
.btn-outline:link {
  background-color: map-get($folwell-palette, white);
  @include standard-border(map-get($folwell-dark-palette, maroon), all);
  color: map-get($folwell-dark-palette, gray-darker);

  &:hover {
    background-color: transparentize(map-get($folwell-dark-palette, gray-darker), .85);
  }
}

.btn-arrow:after,
.btn-arrow:link:after {
  @include font-awesome(.8em);
  padding-left: 10px;
  content: "\f054";
}

.btn-full {
  display: block;
  text-align: center;
  width: 100%;
}