/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-M_170_gold-wh {
  background-image: url(sprite.png);
  background-position: -288px -135px;
  width: 223px;
  height: 29px;
}
.icon-M_220_gold-wh {
  background-image: url(sprite.png);
  background-position: 0px -135px;
  width: 288px;
  height: 38px;
}
.icon-M_340_gold-wh {
  background-image: url(sprite.png);
  background-position: 0px -76px;
  width: 446px;
  height: 59px;
}
.icon-M_440_old-wh {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 577px;
  height: 76px;
}
