$base-spacing: 1.5em !default;
$message-border-radius: 0;

@mixin flash($color) {
  background-color: $color;
  color: darken($color, 60%);
  display: block;
  @include margin($base-spacing / 2 null);
  padding: $base-spacing / 2 $base-spacing / 2 $base-spacing / 2 50px;
  border-radius: $message-border-radius;

  a {
    color: darken($color, 70%);
    @include standard-border($color);

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.status-messages {
  .error {
    @include flash($error-color);
  }

  .status {
    @include flash($success-color);
  }

  .notice {
    @include flash($notice-color);
  }

  .warning {
    @include flash($alert-color);
  }
}
